In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('dataset_Facebook.csv', sep = ';')

In [103]:
data.head(3)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80

In [101]:
data.shape

(500, 19)

In [102]:
empty_feature = 0
empty_obj = 0
for i in data.columns:
    if pd.Series.count(data[i]) < data.shape[0]:
        empty_feature += 1
for idx, row in data.iterrows():
    if pd.Series.count(row) < data.shape[1]:
        empty_obj += 1

print('количество объектов с пропусками: ', empty_obj)
print('количество признаков с пропусками: ', empty_feature)

количество объектов с пропусками:  5
количество признаков с пропусками:  3

In [13]:
500*19 - pd.Series.count(data)

6

In [14]:
data['Type'].value_counts(sort = True)

Photo     426
Status     45
Link       22
Video       7
Name: Type, dtype: int64

Вычисление среднего, максимального/минимального значений, медианы

In [124]:
def features(dataset):
    df = pd.DataFrame(index = data.columns)
    df['min'] = dataset.min()
    df['max'] = dataset.max()
    df['mean'] = dataset.mean()
    df['median'] = dataset.median()
    return df

Для всего массива

In [121]:
features(data)

,min,max,mean,median
Page total likes,81370,139441,123194.176000,129600.0
Type,Link,Video,NaN,NaN
Category,1,3,1.880000,2.0
Post Month,1,12,7.038000,7.0
Post Weekday,1,7,4.150000,4.0
Post Hour,1,23,7.840000,9.0
Paid,0,1,0.278557,0.0
Lifetime Post Total Reach,238,180480,13903.360000,5281.0
Lifetime Post Total Impressions,570,1110282,29585.948000,9051.0
Lifetime Engaged Users,9,11452,920.344000,625.5
Lifetime Post Consumers,9,11328,798.772000,551.5
Lifetime Post Consumptions,9,19779,1415.130000,851.0
Lifetime Post Impressions by people who have liked your Page,567,1107833,16766.376000,6255.5
Lifetime Post reach by people who like your Page,236,51456,6585.488000,3417.0
Lifetime People who have liked your Page and engaged with your post,9,4376,609.986000,412.0
comment,0,372,7.482000,3.0
like,0,5172,177.945892,101.0
share,0,790,27.266129,19.0
Total Interactions,0,6334,212.120000,123.5

In [37]:
data.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136393.0,Photo,1.0,10.0,7.0,3.0,0.0,677.0,4372.0,537.0,182.0,431.0,1210.0,690,403.0,0.0,98.0,13.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2232.0,6503.0,NaN,298.0,513.0,1284.0,704,NaN,NaN,NaN,14.0,39.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2645.0,7004.0,NaN,319.0,599.0,2541.0,1228,NaN,NaN,NaN,NaN,75.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2938.0,8533.0,NaN,322.0,652.0,2888.0,1640,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3322.0,8745.0,NaN,335.0,719.0,3675.0,1674,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.0,12735.0,NaN,374.0,730.0,4911.0,1722,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3414.0,NaN,NaN,482.0,795.0,4935.0,2044,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3528.0,NaN,NaN,503.0,889.0,5010.0,2124,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3754.0,NaN,NaN,513.0,NaN,5732.0,2162,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5280.0,NaN,NaN,642.0,NaN,NaN,2174,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5290.0,NaN,NaN,NaN,NaN,NaN,2388,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6692.0,NaN,NaN,NaN,NaN,NaN,2426,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9528.0,NaN,NaN,NaN,NaN,NaN,2604,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13544.0,NaN,NaN,NaN,NaN,NaN,2616,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32208.0,NaN,NaN,NaN,NaN,NaN,2644,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2752,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2868,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3114,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3216,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3230,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3298,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3768,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5348,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5372,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7020,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7800,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8032,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8120,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20608,NaN,NaN,NaN,NaN,NaN

Для типа Photo

In [128]:
df_ph = data[data['Type'] == 'Photo']
features(df_ph)

,min,max,mean,median
Page total likes,81370,139441,122354.171362,128032.0
Type,Photo,Photo,NaN,NaN
Category,1,3,1.917840,2.0
Post Month,1,12,6.805164,7.0
Post Weekday,1,7,4.107981,4.0
Post Hour,1,23,7.997653,9.0
Paid,0,1,0.280000,0.0
Lifetime Post Total Reach,238,180480,13137.814554,4675.0
Lifetime Post Total Impressions,570,1110282,28994.497653,8118.5
Lifetime Engaged Users,9,11452,818.946009,605.5
Lifetime Post Consumers,9,11328,690.431925,528.5
Lifetime Post Consumptions,9,19779,1299.025822,827.0
Lifetime Post Impressions by people who have liked your Page,567,1107833,16422.483568,5498.0
Lifetime Post reach by people who like your Page,236,51456,6059.103286,3110.0
Lifetime People who have liked your Page and engaged with your post,9,3430,507.305164,403.0
comment,0,372,7.492958,3.0
like,0,5172,182.611765,100.0
share,0,790,27.158768,19.0
Total Interactions,0,6334,216.579812,122.0

In [129]:
df_ph.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,124940.0,Photo,1.0,10.0,7.0,3.0,0.0,677.0,4372.0,537.0,298.0,431.0,1210.0,690,403.0,0.0,7.0,14.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2232.0,6503.0,NaN,319.0,513.0,1284.0,704,NaN,NaN,79.0,NaN,39.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2938.0,7004.0,NaN,335.0,599.0,2541.0,1228,NaN,NaN,98.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3322.0,8533.0,NaN,374.0,652.0,2888.0,1640,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3358.0,8745.0,NaN,482.0,719.0,3675.0,1674,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3414.0,12735.0,NaN,503.0,730.0,4911.0,1722,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3528.0,NaN,NaN,513.0,795.0,4935.0,2044,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3754.0,NaN,NaN,642.0,889.0,5010.0,2124,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5280.0,NaN,NaN,NaN,NaN,5732.0,2162,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5290.0,NaN,NaN,NaN,NaN,NaN,2174,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9528.0,NaN,NaN,NaN,NaN,NaN,2388,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32208.0,NaN,NaN,NaN,NaN,NaN,2426,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2604,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2616,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2644,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2660,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2752,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2868,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3114,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3216,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3230,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3298,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3768,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5348,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7800,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20608,NaN,NaN,NaN,NaN,NaN

Для типа Status

In [130]:
df_st = data[data['Type'] == 'Status']
features(df_st)

,min,max,mean,median
Page total likes,104070,139441,132647.044444,135713.0
Type,Status,Status,NaN,NaN
Category,1,3,2.022222,2.0
Post Month,3,12,9.066667,10.0
Post Weekday,1,7,4.577778,5.0
Post Hour,2,15,7.244444,9.0
Paid,0,1,0.222222,0.0
Lifetime Post Total Reach,3930,31136,13078.888889,11096.0
Lifetime Post Total Impressions,7509,59964,24244.466667,20849.0
Lifetime Engaged Users,128,6164,2040.222222,1701.0
Lifetime Post Consumers,86,5934,1949.555556,1599.0
Lifetime Post Consumptions,112,9237,2838.866667,2201.0
Lifetime Post Impressions by people who have liked your Page,5009,37849,18664.266667,17502.0
Lifetime Post reach by people who like your Page,2410,21352,9908.577778,8980.0
Lifetime People who have liked your Page and engaged with your post,101,4376,1719.844444,1604.0
comment,0,60,8.911111,4.0
like,13,859,176.711111,150.0
share,1,123,31.422222,28.0
Total Interactions,17,1009,217.044444,186.0

In [131]:
df_st.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441.0,Status,2.0,12.0,5.0,10.0,0.0,3930,7509,128,86,1692.0,5009,2410,101,2.0,86.0,1.0,117.0
1,NaN,NaN,NaN,NaN,7.0,NaN,NaN,6692,13092,130,108,NaN,7549,3336,123,4.0,99.0,13.0,121.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8260,14305,135,119,NaN,9562,5180,126,NaN,129.0,18.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8284,14759,199,126,NaN,9684,5244,156,NaN,227.0,36.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8488,14847,304,286,NaN,10266,5372,291,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8628,15104,870,843,NaN,11710,6112,740,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8728,15294,908,847,NaN,11970,6796,774,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8896,16054,951,861,NaN,12905,7020,843,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9056,16362,997,937,NaN,12996,7092,924,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9120,16811,1006,953,NaN,13246,7200,956,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9124,16978,1132,1032,NaN,13838,7344,981,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9232,17099,1151,1073,NaN,13887,7360,995,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9236,17202,1191,1130,NaN,14014,7616,1016,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9504,17776,1264,1209,NaN,14450,7636,1075,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10060,17827,1341,1270,NaN,15220,7852,1108,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10152,19057,1457,1361,NaN,15382,7880,1162,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10188,19279,1473,1397,NaN,15418,7912,1200,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10460,19556,1476,1407,NaN,15850,8004,1250,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10472,19680,1480,1426,NaN,16018,8120,1292,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10744,20327,1521,1441,NaN,16034,8536,1331,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10824,20573,1530,1462,NaN,16095,8548,1395,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10956,20691,1636,1570,NaN,17272,8964,1578,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11096,20849,1701,1599,NaN,17502,8980,1604,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11844,21080,1843,1724,NaN,17627,9344,1613,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12044,22538,1967,1877,NaN,17717,9824,1661,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12468,24198,2055,1912,NaN,17748,10232,1716,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13152,24738,2143,1966,NaN,18838,10280,1779,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13216,24917,2240,2193,NaN,19078,10384,1834,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13280,25269,2295,2235,NaN,19599,10400,1839,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13872,25666,2417,2327,NaN,20030,10432,1905,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14424,26000,2543,2438,NaN,20198,10564,2099,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15296,27468,2573,2448,NaN,20547,10840,2119,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15576,27513,2664,2531,NaN,21009,11408,2252,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15816,30514,2675,2567,NaN,22103,11792,2256,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16576,30612,2733,2570,NaN,23135,11800,2278,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17360,31448,2750,2584,NaN,23338,11912,2342,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17576,33058,2806,2654,NaN,23584,12888,2361,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17912,33613,2827,2781,NaN,24363,13296,2602,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18320,34143,3370,3244,NaN,25539,14056,2806,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19552,34774,3572,3464,NaN,25584,14920,3014,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20168,35904,3742,3682,NaN,26881,15056,3300,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21256,41906,4258,4100,NaN,35455,17592,3798,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21744,42313,4840,4754,NaN,35977,18048,4104,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23832,42334,5352,5202,NaN,37816,18952,4318,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31136,59964,6164,5934,NaN,37849,21352,4376,NaN,NaN,NaN,NaN

Для типа Link

In [133]:
df_link = data[data['Type'] == 'Link']
features(df_link)

,min,max,mean,median
Page total likes,85979,138895,116363.181818,115396.0
Type,Link,Link,NaN,NaN
Category,1,3,1.136364,1.0
Post Month,1,12,6.590909,4.5
Post Weekday,1,7,4.272727,4.5
Post Hour,2,14,5.727273,4.0
Paid,0,1,0.272727,0.0
Lifetime Post Total Reach,1536,70912,18544.590909,7422.0
Lifetime Post Total Impressions,3094,229733,28725.454545,9773.0
Lifetime Engaged Users,24,1374,342.818182,244.0
Lifetime Post Consumers,23,1106,292.681818,205.0
Lifetime Post Consumptions,26,1345,374.090909,290.0
Lifetime Post Impressions by people who have liked your Page,2307,42338,11148.590909,9034.5
Lifetime Post reach by people who like your Page,1180,27232,6544.363636,5039.0
Lifetime People who have liked your Page and engaged with your post,19,788,210.545455,161.5
comment,0,15,2.818182,1.5
like,5,379,73.318182,37.0
share,0,44,12.909091,10.5
Total Interactions,6,420,89.045455,52.5

In [134]:
df_link.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,138353.0,Link,1.0,12.0,6.0,3.0,0.0,1536,3094,66.0,322.0,26,2307,1180,19,0.0,12.0,2.0,14.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925,3481,NaN,NaN,70,2330,1377,58,NaN,32.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2645,4270,NaN,NaN,71,2903,1407,59,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2933,5144,NaN,NaN,97,3972,2012,76,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3454,5808,NaN,NaN,99,4263,2138,77,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3616,6853,NaN,NaN,118,6282,3100,92,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4664,6887,NaN,NaN,126,6625,3324,93,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4938,7910,NaN,NaN,130,6734,3492,101,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5168,7927,NaN,NaN,170,7041,3804,106,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5730,8371,NaN,NaN,223,7196,3996,138,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6876,9463,NaN,NaN,251,8964,4830,156,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7968,10083,NaN,NaN,329,9105,5248,167,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9356,10885,NaN,NaN,337,9403,5472,173,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12540,13023,NaN,NaN,389,12078,5752,185,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18480,14986,NaN,NaN,396,12522,6752,220,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21176,19301,NaN,NaN,460,13858,8032,230,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34192,28438,NaN,NaN,477,13919,8176,259,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35360,42092,NaN,NaN,505,15766,8460,289,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39600,45260,NaN,NaN,581,16914,10720,319,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45920,54779,NaN,NaN,763,17842,11008,392,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68992,94172,NaN,NaN,1267,22907,16464,635,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70912,229733,NaN,NaN,1345,42338,27232,788,NaN,NaN,NaN,NaN

Для типа Video

In [135]:
df_vid = data[data['Type'] == 'Video']
features(df_vid)

,min,max,mean,median
Page total likes,126424,138895,135014.857143,137893.0
Type,Video,Video,NaN,NaN
Category,1,1,1.000000,1.0
Post Month,6,12,9.571429,11.0
Post Weekday,2,6,3.571429,3.0
Post Hour,2,13,8.714286,11.0
Paid,0,1,0.571429,1.0
Lifetime Post Total Reach,13544,139008,51205.714286,30624.0
Lifetime Post Total Impressions,30235,277100,102622.428571,56950.0
Lifetime Engaged Users,459,3872,1707.000000,1779.0
Lifetime Post Consumers,411,3822,1584.714286,1643.0
Lifetime Post Consumptions,539,7327,2600.142857,2331.0
Lifetime Post Impressions by people who have liked your Page,21436,107502,43149.857143,30131.0
Lifetime Post reach by people who like your Page,9568,38720,17386.285714,14112.0
Lifetime People who have liked your Page and engaged with your post,363,2218,979.428571,885.0
comment,2,23,12.285714,17.0
like,65,449,231.428571,204.0
share,13,121,52.142857,44.0
Total Interactions,81,550,295.857143,271.0

In [136]:
df_vid.mode()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,137893.0,Video,1.0,11.0,2.0,11.0,1.0,13544,30235,459,411,539,21436,9568,363,2.0,65.0,13.0,81
1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,16416,31950,517,458,667,24667,11760,447,18.0,99.0,NaN,114
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21872,40413,1141,1068,1728,26622,12920,559,NaN,143.0,NaN,174
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30624,56950,1779,1643,2331,30131,14112,885,NaN,204.0,NaN,271
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36208,61262,2080,1735,2356,32033,15744,1008,NaN,315.0,NaN,409
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100768,220447,2101,1956,3253,59658,18880,1376,NaN,345.0,NaN,472
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139008,277100,3872,3822,7327,107502,38720,2218,NaN,449.0,NaN,550

Поиск самого частого значения

In [43]:
from collections import Counter

In [137]:
Counter(data.itertuples()).most_common(1)[0][0]

Pandas(Index=0, _1=139441, Type='Photo', Category=2, _4=12, _5=4, _6=3, Paid=0.0, _8=2752, _9=5091, _10=178, _11=109, _12=159, _13=3078, _14=1640, _15=119, comment=4, like=79.0, share=17.0, _19=100)

In [138]:
print('это значение встречается ',Counter(data.itertuples()).most_common(1)[0][1] ,'раз' )

это значение встречается  1 раз

Посмотрим, логично ли, что самое популярное значение встречается всего один раз.

In [140]:
for i in data.columns:
    print(max(data[i].value_counts(sort = True)))

18
426
215
60
82
105
360
2
2
4
3
3
2
2
5
106
7
20
6

Есть несколько признаков, самое частое значение которых встречается всего дважды. Поэтому решение задачи с поиском самого частого объекта выглядит правдопободным.